[submodule "lib/sinatra-cache"]
	path = lib/sinatra-cache
	url = git://github.com/kematzy/sinatra-cache.git
[submodule "lib/sinatra"]
	path = lib/sinatra
	url = git://github.com/sinatra/sinatra.git
[submodule "lib/stone"]
	path = lib/stone
	url = git://github.com/bomberstudios/stone.git
